<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Monthly Inhand Salary Calculator</a>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/anantraghuvanshi/monthly-inhand-salary-calculator"
              target="_blank"
            >
              <span class="github-icon"></span>
              Star
              <span class="star-count">{{ starCount }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
