@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /* Import Roboto font */

.header, .navbar {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #d3e0f3, #b3d3f9, #93c7ff);
  animation: wave 3s ease-in-out infinite;
  border-bottom: 1px solid #ccc;
}

.navbar {
  border-radius: 0;
  box-shadow: none;
}

.navbar-brand {
  color: #3A7BD5;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #3A7BD5;
  font-size: 16px;
}

.navbar-nav .nav-link:hover {
  color: #FFFFFF;
}

.github-icon {
  color: #3A7BD5;
  font-size: 22px;
}

.star-count {
  color: #3A7BD5;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 18px;
  }

  .navbar-brand .second-part::before {
    content: "\A";
    white-space: pre;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .navbar-brand {
    font-size: 18px;
  }

  .navbar-nav .nav-link {
    font-size: 15px;
  }

  .github-icon {
    font-size: 20px;
  }

  .star-count {
    font-size: 15px;
  }
}

.fas {
  margin-right: 5px;
}
