@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /* Import Roboto font */

.footer {
  flex-shrink: 0;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  padding: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 0 0 auto;
  background-image: linear-gradient(to bottom, #d3e0f3, #b3d3f9, #93c7ff);
  animation: wave 3s ease-in-out infinite;
  position: relative;
  bottom: 0;
  height: 250px;
  color: #3A7BD5;
}
  
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
  
.text-muted {
  color: #3A7BD5;
}
  
.list-inline {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
  
.list-inline-item {
  margin-right: 10px;
}
  
.fa {
  font-size: 20px;
  color: #3A7BD5; 
  margin: 0 5px;
}
  
.fa-heart {
  color: #0082FF;
}

.bmc-button img {
  width: 22px !important;
  height: 22px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}
.bmc-button {
  padding: 7px 15px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #3A7BD5 !important;
  background-color: #ff813f !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 0px 9px !important;
  font-size: 18px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Roboto', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
  background-color: #ff543e !important;
}


/* Media Queries */
@media screen and (max-width: 600px) {
  .footer {
    height: auto;
    padding: 10px;
  }
  
  .fa {
    font-size: 18px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .footer {
    padding: 15px;
  }
  
  .fa {
    font-size: 18px;
  }
}
