<footer class="footer">
  <div class="container">
    <span class="text-muted text-center">Made with</span
    ><span><i class="fa fa-heart"></i></span
    ><span class="text-muted text-center"> by Anant Singh Raghuvanshi</span>
    <br />
    <span class="text-muted text-center">Copyright © 2023</span>
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a href="https://github.com/anantraghuvanshi/" target="_blank"
          ><i class="fab fa-github text-black fa-2x"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/anant_codes" target="_blank"
          ><i class="fab fa-twitter text-black fa-2x"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.linkedin.com/in/theanantraghuvanshi/"
          target="_blank"
          ><i class="fab fa-linkedin text-black fa-2x"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
