body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  opacity: 0;
}

.container.show {
  animation: fadeIn 1s forwards;
}

.floating-text {
  font-size: 30px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 20px;
}

.input-box {
  display: none;
}

.input-box.show {
  animation: showInputBox 1s forwards 1s; /* Delay the animation by 1 second */
}

.form-control {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #666;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}

.btn {
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-white {
  color: #fff;
  background-color: #3498db;
}

.btn-white:hover {
  background-color: #2980b9;
}

.btn-animate {
  animation: btnPulse 1.5s infinite;
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes showInputBox {
  to {
    display: block;
  }
}
