<div class="welcome-container">
  <div class="typing-container">
    <h1 class="typing-text">LET'S CALCULATE YOUR SALARY</h1>
  </div>
  <div id="userInput" class="user-input">
    <form [formGroup]="userNameForm">
      <input
        type="text"
        id="userName"
        formControlName="userName"
        placeholder="Enter your name"
        class="form-control"
      />
      <div
        *ngIf="
          userNameForm.get('userName')?.invalid &&
          userNameForm.get('userName')?.touched
        "
      >
        <p class="error-message">Name should only contain letters</p>
      </div>
      <button
        class="btn btn-primary"
        [disabled]="userNameForm.invalid"
        (click)="goToSalaryCalculator()"
      >
        Continue
      </button>
    </form>
    <div id="socialsContainer" class="socials-container">
      <p class="socials-heading">SOCIALS</p>
      <div class="icons-container">
        <a href="https://github.com/anantraghuvanshi" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/theanantraghuvanshi/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://twitter.com/anant_codes" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </div>
  </div>
</div>
