<div class="welcome-container">
  <div class="typing-container">
    <h1 class="typing-text">LET'S CALCULATE YOUR SALARY</h1>
  </div>
  <div id="userInput" class="user-input">
    <input
      type="text"
      id="userName"
      [(ngModel)]="userName"
      placeholder="Enter your name"
      class="form-control"
    />
    <button class="btn btn-primary" (click)="goToSalaryCalculator()">
      Continue
    </button>
    <div id="socialsContainer" class="socials-container">
      <p class="socials-heading">SOCIALS</p>
      <div class="icons-container">
        <a href="https://github.com/anantraghuvanshi" target="_blank"
          ><i class="fab fa-github fa-2x"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/theanantraghuvanshi/"
          target="_blank"
          ><i class="fab fa-linkedin fa-2x"></i
        ></a>
        <a href="https://twitter.com/anant_codes" target="_blank"
          ><i class="fab fa-twitter fa-2x"></i
        ></a>
      </div>
    </div>
  </div>
</div>
