<div class="card">
  <h1>Salary Calculator</h1>
  <p>Your name is: {{ userName }}</p>
  <form>
    <div class="form-control">
      <label for="basePay">Base Pay:</label>
      <input
        type="number"
        id="basePay"
        name="basePay"
        [(ngModel)]="basePay"
      /><br /><br />
    </div>
    <div class="form-control">
      <label for="providentFund">Provident Fund:</label>
      <input
        type="number"
        id="providentFund"
        name="providentFund"
        [(ngModel)]="providentFund"
      /><br /><br />
    </div>
    <div class="form-control">
      <label for="taxRegime">Tax Regime:</label><br />
      <input
        type="radio"
        name="taxRegime"
        value="old"
        id="old"
        [(ngModel)]="taxRegime"
      />
      <label for="old">Old </label>
      <input
        type="radio"
        name="taxRegime"
        value="new"
        id="new"
        [(ngModel)]="taxRegime"
      />
      <label for="new">New </label>
    </div>
    <div class="text-box">
      <button class="btn btn-white btn-animate" (click)="calculateTax()">
        Calculate Tax
      </button>
      <button
        class="btn btn-white btn-animate"
        (click)="monthlySalary = calculateMonthlySalary()"
      >
        Calculate Monthly Salary
      </button>
    </div>
  </form>
  <p *ngIf="monthlySalary">Monthly Salary: {{ monthlySalary }}</p>
  <p *ngIf="tax">Calculated Tax: {{ tax }}</p>
</div>
