.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.text-box {
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-animate {
  animation: swing 1s infinite;
}

.btn {
  margin-right: 10px;
}
.radio-group .radio {
  margin-right: 30px;
}

