@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #d3e0f3;
  background-image: linear-gradient(to bottom, #d3e0f3, #b3d3f9, #93c7ff);
  color: #3A7BD5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  margin-bottom: 1.5rem;
  background:#5392f8;
  border: #333;
  border-radius: 12px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #E8F0FE; 
  color: #333;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform .3s ease;
}

input[type="number"]:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #062a5e;
  font-weight: 500;
  transition: color .3s ease;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

input[type="radio"]:checked + label {
  color: #ffffff;
  background-color: #535966;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn {
  padding: 12px 20px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #000000;
  color: #fff;
  animation: btnPulse 1.5s infinite;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #5392f8;
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.result-container {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.result-message {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.error-message {
  color: #a50f15; /* Dark red color */
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
  font-weight: bold;
}
.fa-info-circle {
  margin-left: 5px;
  color: #3A7BD5;
  cursor: pointer;
}


