<app-header></app-header>
<div class="card">
  <h1>SALARY CALCULATOR</h1>
  <form>
    <div class="form-control">
      <label for="basePay"
        >Base Pay:
        <i
          class="fa fa-info-circle"
          (click)="
            openDialog(
              '<p>Base pay refers to the initial rate of compensation</p> <p>an employee receives in exchange for services.<p>'
            )
          "
        ></i>
      </label>
      <input
        type="number"
        id="basePay"
        name="basePay"
        [(ngModel)]="basePay"
        #basePayControl="ngModel"
        required
      />
      <div
        *ngIf="
          basePayControl.invalid &&
          (basePayControl.dirty || basePayControl.touched)
        "
        class="error-message"
      >
        Base pay is required.
      </div>
    </div>

    <div class="form-control">
      <label for="providentFund"
        >Provident Fund:
        <i
          class="fa fa-info-circle"
          (click)="openDialog('Provident Fund Info...')"
        ></i>
      </label>
      <input
        type="number"
        id="providentFund"
        name="providentFund"
        [(ngModel)]="providentFund"
      />
    </div>

    <div class="form-control">
      <label for="taxRegime"
        >Tax Regime:
        <i
          class="fa fa-info-circle"
          (click)="openDialog('Tax Regime Info...')"
        ></i>
      </label>
      <input
        type="radio"
        name="taxRegime"
        value="old"
        id="old"
        [(ngModel)]="taxRegime"
        (change)="resetOutput()"
      />
      <label for="old">Old</label>
      <input
        type="radio"
        name="taxRegime"
        value="new"
        id="new"
        [(ngModel)]="taxRegime"
        (change)="resetOutput()"
      />
      <label for="new">New</label>
    </div>

    <div class="button-container">
      <button class="btn" (click)="calculateTax(); $event.preventDefault()">
        Calculate Tax
      </button>
      <button
        class="btn"
        (click)="calculateMonthlySalary(); $event.preventDefault()"
      >
        Calculate Monthly Salary
      </button>
    </div>

    <div class="result-container">
      <p *ngIf="taxMessage" class="result-message">{{ taxMessage }}</p>
      <p *ngIf="salaryMessage" class="result-message">{{ salaryMessage }}</p>
    </div>
  </form>
</div>
<app-footer></app-footer>
