.card {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #666;
}

input[type="number"],
input[type="radio"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.btn {
  padding: 12px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btn-white {
  color: #fff;
  background-color: #3498db;
}

.btn-white:hover {
  background-color: #2980b9;
}

.btn-animate {
  animation: btnPulse 1.5s infinite;
}

.text-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-control label {
  display: inline-block;
  font-weight: bold;
  color: #666;
  margin-right: 10px;
}
.form-control input[type="radio"] {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin: 0 5px 0 0; 
}

p[ngIf] {
  color: #333;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.result-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.result-message {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

