 app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #d3e0f3;
  background-image: linear-gradient(to bottom, #d3e0f3, #b3d3f9, #93c7ff);
  color: #3A7BD5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}